*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    width: 100vw;
}

.full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}