*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    background: #111111;
    height: 100%;
    background: linear-gradient( #333, #000);
}
.container{
    display: flex;
    justify-content: center;
}

.btn{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}

#submit{
    background: transparent;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}