<html>
<head>
    <title>Python Flask Upload and display image</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <img id="image" src="/static/downloads/fin.jpg">
    <script>
        // var websocket = new WebSocket("ws://localhost:3000");
        var websocket = new WebSocket("ws://192.168.1.202:3000");
        var image = document.getElementById('image');
        websocket.onmessage = function (evt) {
            console.log(evt);
            var img = document.createElement('img');
            img.src = "/static/uploads/"+evt.data+".jpg";
            img.setAttribute('class','full');
            document.body.appendChild(img);
            setTimeout(function(){location.reload();},10000)
        };
    </script>
</body>
</html>